#mainForm td {
    padding: 0.5vmin;
}

#mainForm input,
label {
    font-family: inherit;
    font-size: calc(10px + 1vmin);
}

#mainForm table input {
    width: 100%;
    box-sizing: border-box;
}

